*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #666666;
}
header{
    background-color: #282828;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo-portifolio{
    font-size: 48px;
    color: #E0E0E0;
    padding: 8px 0px 8px 30px;
    font-family: 'Poppins', sans-serif;
    width: 40%;
}
.colorido{
    background-image: linear-gradient(to bottom, #48DEFF, #48A7FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cabecalho{
    width: 50%;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    color: #E0E0E0;
}
.button-contato{
    background-image: linear-gradient(to bottom, #48DEFF, #48A7FF);
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #FFF;
    color: #0E0142;
    font-family: 'Roboto', sans-serif;
}
.img-github{
    width: 30px;
    height: 30px;
}
.img-linkedin{
    width: 30px;
    height: 30px;
}
.social{
    width: 10%;
    display: flex;
    justify-content: space-around;
}